@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap");

.header {
    padding: 15px 0;
    position: relative;
    z-index: 500
}

@media (min-width: 992px) {
    .brand img {
        height: 100px;
        width: auto
    }
}

.sitenav {
    background: #2d2d2d
}

@media (max-width: 991px) {
    .sitenav {
        left: 0;
        position: absolute;
        text-align: center;
        top: 100%;
        width: 100%
    }
}

@media (min-width: 992px) {
    .sitenav {
        background: transparent;
        min-width: 325px
    }
}

@media (min-width: 992px) {
    .sitenav li {
        margin-right: 35px
    }
}

.sitenav li:last-child {
    margin-right: 0
}

.sitenav a {
    color: #c9c9c9;
    font: 12px "Jost", sans-serif;
    letter-spacing: 0.06rem;
    text-decoration: none;
    text-transform: uppercase
}

.sitenav a.linkcta {
    border: 1px solid #c9c9c9;
    background: rgba(196, 196, 196, 0.05);
    padding: 10px 20px;
    line-height: 1.25
}

.sitenav a.active {
    color: #fff
}

.navicon {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5
}

.navicon span {
    background: #fff;
    display: block;
    height: 2px;
    width: 24px
}

.navicon span+span {
    margin-top: 5px
}

.navicon.clicked {
    margin-top: -5px
}

.navicon.clicked span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateX(5px) translateY(5px);
    transform: rotate(45deg) translateX(5px) translateY(5px)
}

.navicon.clicked span:nth-child(2) {
    display: none
}

.navicon.clicked span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.hero .bg-hero {
    background-position: -20% 60px;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    right: -40px;
    width: 100%
}

@media (min-width: 1200px) {
    .hero .bg-hero {
        background-position: right 60px;
        right: 0
    }
}

@media (min-width: 1025px) {
    .hero .container {
        max-width: 100%
    }
}

.hero .herobg {
    padding-top: 60px;
    padding-bottom: 60px
}

@media (min-width: 768px) {
    .hero .herobg {
        padding-top: 160px;
        padding-bottom: 280px
    }
}

.hero .imghero {
    -webkit-transform: translateX(-480px);
    transform: translateX(-480px)
}

@media (min-width: 768px) {
    .hero .imghero {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px)
    }
}

.title {
    padding: 60px 0
}

@media (min-width: 768px) {
    .title {
        padding: 120px 0
    }
}

.title .bar {
    background: #eb2223;
    display: inline-block;
    height: 2px;
    margin: 25px 0;
    width: 100px
}

.title h2 {
    margin-bottom: 25px
}

.title+.move-top {
    margin-top: -60px
}

.number-meta h2 {
    color: #fff;
    font: 600 52px/1.25 "Bodoni Moda", serif
}

.number-meta h2 span {
    font-size: 24px
}

.number-meta h3 {
    color: #eb2223;
    font: 12px "Jost", sans-serif;
    letter-spacing: normal
}

@media (min-width: 992px) {
    .number-meta .air-desk {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.welcome {
    position: relative;
    z-index: 5
}

.welcome .inner-welcome {
    background: #2d2d2d;
    padding: 20px
}

@media (min-width: 768px) {
    .welcome .inner-welcome {
        padding: 65px
    }
}

.working {
    background: #e8e8e8;
    position: relative
}

.working h3 {
    color: #232323
}

.working-card {
    position: relative;
    padding-bottom: 100px
}

.working-card .box {
    background: #f4f4f4;
    height: 100%;
    padding: 30px
}

.working-card .box .img {
    height: 90px
}

.working-card .box h2 {
    color: #232323 !important;
    font-size: 16px;
    font-weight: 700
}

.working-card .box p {
    color: #2d2d2d;
    font-size: 16px;
    opacity: 0.8
}

.testimonials {
    background: rgba(7, 7, 7, 0.15);
    padding: 40px 0
}

@media (min-width: 768px) {
    .testimonials {
        padding: 70px 0
    }
}

.testimonials .slider {
    background: #1f1f1f;
    border: 1px solid #393939;
    padding: 20px;
    display: block !important;
}

@media (min-width: 768px) {
    .testimonials .slider {
        padding: 40px;
        display: block !important;

    }
}

.testimonials .slider .quote {
    margin-bottom: 20px;
    display: block !important;
    margin-top: 30px
}

@media (min-width: 768px) {
    .testimonials .slider p {
        display: block !important;
        font-size: 21px;
    }
}

.testimonials .slider .owl-nav button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #c9c9c9;
    background: rgba(196, 196, 196, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    width: 36px
}

.testimonials .slider .owl-nav button.owl-prev {
    left: 40px
}

.testimonials .slider .owl-nav button.owl-next {
    right: 40px
}

.testimonials .slider .owl-dots {
    margin-top: 40px;
    text-align: center
}

.testimonials .slider .owl-dots button {
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    height: 12px;
    margin: 0 5px;
    width: 12px
}

.testimonials .slider .owl-dots button.active {
    background: #c9c9c9
}

.contact-call {
    background: #1a1a1a
}

@media (min-width: 1025px) {
    .contact-call .container {
        max-width: 100%
    }
}

.content {
    background: #212121
}

@media (min-width: 768px) {
    .content.sec {
        padding: 60px 0
    }
}

.content .neg-top {
    margin-top: -60px
}

@media (min-width: 768px) {
    .content .neg-top {
        margin-top: -120px
    }
}

.content h2 {
    font-size: 24px
}

.content .meta-number .box {
    margin-right: 20px
}

@media (min-width: 768px) {
    .content .meta-number .box {
        margin-right: 50px
    }
}

.content .meta-number .box h2 {
    color: #c9c9c9;
    font-size: 12px
}

.content .meta-number .box h3 {
    color: #fff;
    font-size: 32px;
    letter-spacing: -0.035rem
}

.content .list {
    padding-left: 10px
}

.deals .box {
    background: #353535;
    height: 100%
}

.deals .box .meta {
    background: #282828;
    color: #fff;
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
    padding: 20px
}

@media (min-width: 768px) {
    .deals .box .meta {
        padding: 20px 25px
    }
}

.deals .box .text {
    padding: 20px
}

@media (min-width: 768px) {
    .deals .box .text {
        padding: 25px
    }
}

.recent-deals {
    background: #1f1f1f
}

.contact h2 {
    color: #c9c9c9
}

.contact h3 {
    font-family: "Jost", sans-serif
}

.contact h3 a {
    color: inherit;
    text-decoration: none
}

.contact .form {
    background: #212121;
    padding: 20px
}

@media (min-width: 768px) {
    .contact .form {
        padding: 65px
    }
}

.contact .form .form-label {
    color: #c9c9c9;
    line-height: normal
}

.contact .form .form-control {
    background: transparent;
    border: 0 none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    letter-spacing: normal;
    padding-left: 0;
    padding-right: 0
}

.contact .form .form-control::-webkit-input-placeholder {
    color: rgba(201, 201, 201, 0.3)
}

.contact .form .form-control:-ms-input-placeholder {
    color: rgba(201, 201, 201, 0.3)
}

.contact .form .form-control::-ms-input-placeholder {
    color: rgba(201, 201, 201, 0.3)
}

.contact .form .form-control::placeholder {
    color: rgba(201, 201, 201, 0.3)
}

.contact .form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.contact .form textarea {
    height: 100px
}

@media (min-width: 768px) {
    .contact .pt55 {
        padding-top: 55px
    }
}

.footer {
    padding: 45px 0
}

.footer .nav li {
    margin-bottom: 8px
}

.footer .nav li:last-child {
    margin-bottom: 0
}

.footer .nav a {
    text-decoration: none
}

.footer .nav.social li {
    margin-right: 10px
}

.footer .nav.social li a {
    background: #c9c9c9;
    border-radius: 50%;
    color: #232323;
    font-size: 18px;
    height: 32px;
    width: 32px
}

.footer .nav.social li:last-child {
    margin-right: 0
}

.footer hr {
    border-color: #fff;
    margin: 0;
    opacity: 0.2
}

.footer a {
    color: #c9c9c9;
    font: 14px/20px "Jost", sans-serif;
    letter-spacing: 0.04rem
}

h1,
.h1 {
    color: #fff !important;
    font: 500 32px/1.25 "Bodoni Moda", serif;
    letter-spacing: -0.045em
}

@media (min-width: 768px) {

    h1,
    .h1 {
        font-size: 42px
    }
}

h2,
.h2 {
    color: #fff !important;
    font: 12px "Jost", sans-serif;
    letter-spacing: 0.06rem;
    margin-bottom: 10px
}

h3,
.h3 {
    color: #eb2223 !important;
    font: 500 24px/1.25 "Bodoni Moda", serif;
    letter-spacing: -0.035em
}

@media (min-width: 768px) {

    h3,
    .h3 {
        font-size: 32px
    }
}

p,
li,
.p {
    color: #c9c9c9;
    font: 16px "Jost", sans-serif;
    letter-spacing: -0.035rem
}

p:last-of-type,
li:last-of-type,
.p:last-of-type {
    margin-bottom: 0
}

li::marker {
    font-size: 0.5rem
}

body {
    background: #232323 !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1145px
    }
}

@media (min-width: 1025px) {
    .container.wider {
        max-width: 100%
    }
}

.cta {
    color: #fff;
    border: 1px solid #c9c9c9;
    background: rgba(196, 196, 196, 0.05);
    font: 12px "Jost", sans-serif;
    letter-spacing: 0.06rem;
    line-height: 1.25;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase
}

.cta .icon {
    display: inline;
    margin-left: 10px;
    position: relative;
    top: -1px
}

.cta.red {
    border-color: #eb2223;
    background: #eb2223
}

.sec {
    padding: 40px 0
}

@media (min-width: 768px) {
    .sec {
        padding: 85px 0
    }
}

.sec.dark-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#232323), color-stop(0.01%, #232323), to(#202020));
    background: linear-gradient(180deg, #232323 0%, #232323 0.01%, #202020 100%)
}

.sec.light {
    background: #e8e8e8
}

.ratio-img {
    position: relative;
    width: 100%
}

@media (min-width: 992px) {
    .ratio-img {
        height: 100%
    }
}

.ratio-img img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%
}

.ratio-img:before {
    content: '';
    display: block;
    padding-top: 141.55%
}

@media (min-width: 992px) {
    .ratio-img.doublehgt:before {
        padding-top: 208%
    }
}

.ratio-img.ratio-16:before {
    padding-top: 62.5%
}

.dark-box {
    background: #262626;
    height: 100%;
    padding: 30px;
    position: relative
}

.dark-box:before {
    border: 1px solid #393939;
    content: '';
    height: calc(100% - 30px);
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 15px;
    width: calc(100% - 30px)
}

@media (min-width: 768px) {
    .dark-box:before {
        height: calc(100% - 30px * 2);
        left: 30px;
        top: 30px;
        width: calc(100% - 30px * 2)
    }
}

@media (min-width: 768px) {
    .dark-box {
        padding: 80px
    }
}

@media (min-width: 992px) {
    .dark-box {
        height: 100%
    }
}

.bg-pattern {
    background-position: 0 -2px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.under-welcome {
    margin-top: -120px;
    padding-top: 160px
}

@media (min-width: 768px) {
    .under-welcome {
        padding-top: 200px
    }
}

.under-welcome h3 {
    color: #232323 !important;
}

.under-welcome p,
.under-welcome li {
    color: #2d2d2d
}

.info-user-card .user-meta {
    background: #262626;
    padding: 30px;
    position: relative
}

.info-user-card .user-meta:before {
    border: 1px solid #393939;
    content: '';
    height: calc(100% - 30px);
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 15px;
    width: calc(100% - 30px)
}

@media (min-width: 768px) {
    .info-user-card .user-meta:before {
        height: calc(100% - 45px * 2);
        left: 45px;
        top: 45px;
        width: calc(100% - 45px * 2)
    }
}

@media (min-width: 768px) {
    .info-user-card .user-meta {
        padding: 100px
    }
}

.more-text .less {
    display: none
}

.more-text.clicked .more {
    display: none
}

.more-text.clicked .less {
    display: block
}

.more-text.clicked .icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}


.welcome .inner-welcome {
    background: #2d2d2d;
    padding: 20px
}

.menu-item {
    list-style: none;
    display: inline;
}

.nav-custom-2 li#menu-item-30>a {
    padding: 10px 20px;
    background: rgba(196, 196, 196, 0.05);
    border: 1px solid #c9c9c9;
}

form.wpcf7-form {
    background-color: #212121;
    padding: 65px;
}


form.wpcf7-form label {
    color: #c9c9c9;
    font: 15px "Jost", sans-serif;
    letter-spacing: 0.06rem;
    text-transform: uppercase !important;
    width: 100%;
}


.wpcf7-form-control {
    margin-top: 0.5rem !important;
    background: transparent;
    border: 0 none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    letter-spacing: normal;
    padding-left: 0;
    padding-right: 0;
    font: 16px "Jost", sans-serif;
    outline: 0;
    resize: none;
    width: 100%;
}

.wpcf7-form textarea {
    height: 50px;
}

input.wpcf7-submit {
    border-color: #eb2223;
    background: #eb2223;
    padding: 0.35rem 0.5rem;
}

.wpcf7-response-output {
    color: #c9c9c9;
    border-color: #326e37;
}