.footer {
	padding: 45px 0;

	.nav {
		li {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			text-decoration: none;
		}

		&.social {
			li {
				margin-right: 10px;

				a {
					background: $siteLight;
					border-radius: 50%;
					color: $siteBlack;
					font-size: 18px;
					height: 32px;
					width: 32px;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	hr {
		border-color: $white;
		margin: 0;
		opacity: 0.2;
	}

	a {
		color: $siteLight;
		font: 14px/20px $fontJos;
		letter-spacing: 0.04rem;
	}
}
